#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#aboutMe {
  font-family: 'Tajawal', sans-serif;
  font-size: 18px;
  border-bottom: 2px solid rgba(239, 239, 239, 0.963);

}

.para {
  font-family: 'Tajawal', sans-serif;
  font-size: 18px;
  margin: auto;
  width: 50%;
}

.para b {
  font-family: 'Golos Text', sans-serif;
  font-size: 16px;
  font-weight: 200;
}

#mainNav {
  margin: auto;
  margin-top: 20px;
  width: 20%;
  display: flex;
  justify-content: space-between; 
}

#contact {
}

#myProjects {
  font-family: 'Tajawal', sans-serif;
  border-bottom: 2px solid rgba(239, 239, 239, 0.963);

}

#mainLinks {
  font-family: 'Tajawal', sans-serif;
  list-style: none;
  border-bottom: 2px solid rgba(239, 239, 239, 0.963);

}

#mainLinks li {
    cursor: pointer;
    text-decoration: underline;
    display: inline-block; 
    padding: 5px;
}

header {
  border-bottom: 2px solid;
}

footer {
}

h1 {
  font-family: 'Golos Text', sans-serif;
  font-family: 'Tajawal', sans-serif;
  font-size: 32px;
}

h2 {
  font-family: 'Golos Text', sans-serif;
  font-size: 24;
  font-weight: 300;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
