#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#aboutMe {
  background-color: blue;
}

#contact {
  background-color: blueviolet;
}

#myProjects {
  background-color: bisque;
}

#mainLinks {
  font-family: 'Hanalei Fill', cursive;
  background-color: blueviolet;
  list-style: none;

}

#mainLinks li {
    display: inline-block; 
    padding: 5px;
}

header {
  background-color: aquamarine;
}

footer {
  background-color: aquamarine;
}

h1 {
  font-size: 32px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
