#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#aboutMe {
  font-family: 'Tajawal', sans-serif;

}

#contact {
}

#myProjects {
  font-family: 'Tajawal', sans-serif;

}

#mainLinks {
  font-family: 'Tajawal', sans-serif;
  list-style: none;

}

#mainLinks li {
    display: inline-block; 
    padding: 5px;
}

header {
}

footer {
}

h1 {
  font-family: 'Golos Text', sans-serif;
  font-family: 'Tajawal', sans-serif;
  font-size: 32px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
