@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&family=Comic+Neue:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=VT323&display=swap');

#root {
  padding: 0;
  margin: 0;
  overflow: 'hidden';
}

#aboutMe {
  font-family: 'Pacifico', cursive;
  font-size: 18px;
  border-bottom: 2px solid rgba(239, 239, 239, 0.963);
  border-top: 2px solid rgba(239, 239, 239, 0.963);
}

.para {
  font-family: "Gotu", sans-serif;
  font-size: 18px;
  margin: auto;
  width: 50%;
}

.para b {
  font-family: "Gotu", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#mainNav {
  margin: auto;
  margin-top: 20px;
  width: 20%;
  display: flex;
  justify-content: space-between; 
}

#contact {
}

#myProjects {
  font-family: "Gotu", sans-serif;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

#mainLinks {
  font-family: "Gotu", sans-serif;
  list-style: none;
}

#mainLinks li {
  cursor: pointer;
  text-decoration: underline;
  display: inline-block; 
  padding: 5px;
}

header {
  border-bottom: 2px solid;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.1);
}

footer {
}

.profile-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

h1 {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 32px;
}

h2 {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 26px;
  font-weight: 400;
}

h3 {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 400;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
  }

  .profile-container img {
    width: 100%;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
